<p>Componente 1</p>
<h1>{{gettitle()}}</h1>
<br>
<hr>
<h2>Edad: {{getedad()}}</h2>
<span *ngIf="getedad() >= 18">mayor de edad!!</span> 
<span *ngIf="getedad() < 18">menor de edad!!</span> <br>
<button (click)="Aumentar()">AUMENTAR</button> <br>
<button (click)="Dis()">DISMINUIR</button>
<hr><hr><hr>

<h2>LISTA DE FRAMEWORKS</h2>
<button (click)="Agg()">AGREGAR</button>
<ol>
  <li *ngFor="let Fm of getFrameworks(); let i = index;">
     {{getFrameworks()[i]}}
    </li>
</ol>

<hr>

<Prueba-component></Prueba-component>

<hr>

<app-terminal-component></app-terminal-component>