<div>
  
  <h1>PROYECTO DE ANGULAR</h1>
  <div id="nav">
    <a routerLink="/home" routerLinkActive="Ac">Home</a>
    <a routerLink="/Dinamic" routerLinkActive="Ac">INPUT DINAMICO</a>
    <a routerLink="/Edad" routerLinkActive="Ac">CALCULO DE EDAD Y FRAM</a>
    <a routerLink="/Api" routerLinkActive="Ac">API COMPONENT</a>
    <a routerLink="/Pipe" routerLinkActive="Ac">PIPES COMPONENT</a>
    <a routerLink="/Forms/Data" routerLinkActive="Ac">FORMULARIOS COMPONENT</a>
  </div>
  
  <router-outlet></router-outlet>
</div>
